<div class="container py-5">
    <h2 class="display-5 mb-3 text-center">About us</h2>
    <!-- About Us Section -->
    <div class="row align-items-center mb-5">
        <!-- Image -->
        <div class="col-md-6">
            <img src="../../../../assets/images/about-us.png" alt="About Us Image" class="img-fluid rounded">
        </div>
        <!-- Description -->
        <div class="col-md-6 p-3">
            <p style="width: 402.39px; font-size: 17px;">
                We are a leading real estate and finance company in Tunisia, offering comprehensive services for the sale, purchase and rental of real estate. Present in strategic areas in Tunis, Sousse and Sfax, we facilitate all your procedures in partnership with the country's main banks. Whether for financing or investment, we support you efficiently and reliably.
                . As an innovative company, we offer superior quality services, adapted to the specificities of the Tunisian market. We support you every step of the way with personalized, secure solutions focused on your satisfaction. Our expertise allows us to offer you services far beyond the usual standards, making us a trusted partner.
            </p>
        </div>
    </div>

    <!-- Social Media Section -->
    <div class="text-center">
        <h2 class="display-6 mb-5">Contact us</h2>
        <div class="d-flex justify-content-between">
            <!-- Instagram -->
            <a href="https://www.instagram.com" target="_blank" class="text-danger fs-1 social-a">
                <img src="../../../../assets/images/instegram.png" alt="Instagram" class="social-icon mb-2">
                <p class="social-text">MaisonLab_Officiel</p>
            </a>
            <!-- Facebook -->
            <a href="https://www.facebook.com" target="_blank" class="text-primary fs-1 social-a">
                <img src="../../../../assets/images/facebook.png" alt="Facebook" class="social-icon mb-2">
                <p class="social-text">MaisonLab</p>
            </a>
            <!-- Email -->
            <a href="mailto:email@example.com" class="text-dark fs-1 social-a">
                <img src="../../../../assets/images/email.png" alt="Email" class="social-icon mb-2">
                <p class="social-text">maisonlabsgmail.com</p>
            </a>
        </div>
    </div>
</div>
