.container{
    width: 100%;
}
footer{
    width: 100%;
}
h5 {
    font-weight: bold;
    font-family: 'Merriweather';
    font-size: 33.2px;
}
.row {
    background-color: #F3F3FA;
    height: 398px;
}
.logofooternav{
    background-color: #1C3988;
    height: 191px;
}
.subscribe {
    background-color: white;
    border-color: #1C3988;
    color: #1C3988;
}

.form-control{
    width: 256px;
}

p {
    font-size: 21.25px;
}

.col-sm-4 .img{
    width: 50px;
    height: 50px;
}