<nav class="navbar navbar-expand-lg navbar-light bg-white ">
    <div class="container-fluid mx-5">
        <a class="navbar-brand mx-3" href="#">
            <img src="../../../assets/images/m.png" alt="Logo" width="95px" class="d-inline-block align-text-top me-3">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="nav-link active" aria-current="page" routerLink="/topOffers">Top Offers</a>
                <a class="nav-link" routerLink="/">Search in Offers</a>
                <a class="nav-link" routerLink="/About">About us</a>
            </div>
            <div class="ms-auto">
                <button type="button" class="btn btn-primary" aria-disabled="true">Contact us</button>
            </div>
            <ul class="nav navbar-nav mx-5">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="img-rounded profile-img"></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Settings</a>
                        </li>
                        <li role="separator" class="driver"></li>
                        <li>
                            <a href="#">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
