.container-fluid {
  background-color: #f5f5f5;
}
.bg-primary {
  background-color: #002B7F !important;
}
input::placeholder {
  color: #aaa;
  font-style: italic;
}
.btn-primary {
  background-color: #002B7F;
  border: none;
}
